.container {
  width: 100%;
  flex: 4;
  display: flex;
  justify-content: center;
}

.container__form {
  width: 40%;
  display: flex;
  justify-content: flex-end;

  form {
    max-width: 80%;
    display: flex;
    flex-direction: column;
  }
}

.container__info {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;

  strong {
    font-weight: 600;
    font-size: 1.7em;
  }
}

.container__info--image {
  position: relative;
  width: 500px;
  height: 350px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
  }
}
