.form__input{
  display: flex;
  align-items: center;
  background-color: white;
  color: $inputTextColor;
  border-radius: 5px;
  padding: .8em 1em;
  width: 100%;

  & + .form__input {
    margin-top: 20px;
  }

  input {
    margin-left: 10px;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input, select {
    flex: 1;
    height: 100%;
    font-size: 1em;
    color: $inputTextColor;
  }
}

.form__colors {
  margin-top: 20px;
  display: flex;
  width: 100%;

  button {
    flex: 1;
    height: 40px;
    transition: 0.3s ease;
    color: rgba($color: $inputTextColor, $alpha: 0.1);
    font-size: .9em;

    &:hover {
      flex-basis: 40px;
      color: rgba($color: $inputTextColor, $alpha: 1);
    }

    &:nth-child(1) {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.form__fonts{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    color: $primaryTextColor;
    padding: 20px;
    font-size: 1.5em;
    background-color: transparent;
    transition: 0.3s ease;
    text-align: center;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid $inputTextColor;
    }

    @media #{$sm} {
      font-size: 1.2em;
      padding: 10px;
    }
  }
}

.form__submit{
  display: flex;
  margin: 20px 0;
  justify-content: center;

  button {
    background-color: $secondaryColor;
    color: white;
    font-size: 1.1em;
    padding: 10px 45px;
    border-radius: 5px;
    transition: 0.3s ease;

    &:hover {
      color: $secondaryColor;
      background-color: white;
    }
  }
}
