* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $primaryColor;
  color: $primaryTextColor;
  font-family: $primaryFont, serif;
  -webkit-font-smoothing: antialiased;
}

button, input, select {
  font-family: $primaryFont;
  border: 0;
  outline: 0;
}

button {
  cursor: pointer;
}

select {
  cursor: context-menu;
}
