// Colors
$primaryColor: #81b29a;
$secondaryColor: darken($primaryColor, 20%);
$primaryTextColor: #ffffff;
$inputTextColor: darken($secondaryColor, 10%);

// Fonts
$primaryFont: 'Roboto Slab';

// Breakpoints
$sm: "screen and (max-width: 800px)";
$md: "screen and (min-width: 800px) and (max-width: 1200px)";
